<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAAAAAAAAAAAAAAAAAAAA</title>
    <style>

    
    </style>
</head>
<body >
    <h1 >OLÁ WORLD <strong>VAI SE FUDER</strong></h1>
    <ul>
        <li th:each="task : ${tasks}" th:text="${task.title}"></li>
    </ul>
    <p th:text="${tasks}" > </p>
</body>
</html>